{% extends "base.html" %}
{% block title %}
Edit Recipe
{% endblock %}
{% block content %}
        <h1>Edit Recipe Record</h1>
        {% for id in recipes %}
        <form action="{{ url_for('edit_recipe') }}" method="POST">
            <h3 style="color:blue">Recipe ID: {{ recipe['id']}}</h3>
            Title<br>
            <input type="text" name="title" value="{{ recipes['title'] }}"/><br>

            Ingredients<br>
            <input type="text" name="ingredients" value="{{recipes['ingredients']}}"/><br>

            Instructions<br>
            <input type="text" name="instructions" value="{{ recipes['instructions'] }}"/><br>

            <input type="submit" value="Submit" /><br>
        </form>
        {% endfor %}
{% endblock %}

